* {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color:#F5F5F5;

    border: 2px solid gray;

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-height: 95vh;
    width: 95vw;

    display: flex;
    flex-direction: column;

    font-size:xx-large;
}

h1{
    font-size: 15;
}

#banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: min-content;
}

div.section {
    padding-left: 10vw;
    padding-bottom: 10vh;
}

textarea {
    resize:none;
    background-color: rgb(14, 14, 14);
    color:#F5F5F5;

    border: solid #F5F5F5;

    width: 30vw;

    font-size:x-large;
}

details{
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

#secondLine {
    width: 40vw;
}
