* {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color:#F5F5F5;

    border: 2px solid gray;

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-height: 95vh;
    max-width: 95vw;

    display: flex;
    flex-direction: column;

    font-size:xx-large;
}

h1{
    font-size: 15;
}

legend {
    width: fit-content;
}

fieldset {
    display: flex;
    flex-direction: column;
    width:66%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.section {
    padding-left: 10vw;
    padding-bottom: 10vh;
}

textarea {
    resize:none;
    background-color: rgb(14, 14, 14);
    color:#F5F5F5;

    border: solid #F5F5F5;

    width: 30vw;

    font-size:x-large;
}

details{
    cursor: pointer;
}

button {
    border: solid;
    cursor: pointer;
    height:5vh;
    width: 10vw;
    font-size: x-large;
    padding: auto;
}

#firstLine{
    anchor-name: --first-line-anchor;
}
#firstLineCount{
    position: absolute;
    position-anchor: --first-line-anchor;
    position-area: right; 
}

#secondLine {
    width: 40vw;
    anchor-name: --second-line-anchor;
}
#secondLineCount{
    position: absolute;
    position-anchor: --second-line-anchor;
    position-area: right; 
}

#thirdLine{
    anchor-name: --third-line-anchor;
}
#thirdLineCount{
    position: absolute;
    position-anchor: --third-line-anchor;
    position-area: right; 
}

.lineCheck{
    padding-left: 5px;
}